<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>  
	
	<bean id="itemService" class="me.cidi.service.ItemService"  autowire="byName">
		
	</bean>
	
	<bean id="userService" class="me.cidi.service.UserService"  autowire="byName">
		
	</bean>
	
	<bean id="commentService" class="me.cidi.service.CommentService"  autowire="byName">
		
	</bean>
	
</beans>